p.has-pale-pink-background-color,
.wp-block-button.has-pale-pink-background-color .wp-block-button__link {
	background-color: #f78da7;
}

p.has-vivid-red-background-color,
.wp-block-button.has-vivid-red-background-color .wp-block-button__link {
	background-color: #cf2e2e;
}

p.has-luminous-vivid-orange-background-color,
.wp-block-button.has-luminous-vivid-orange-background-color .wp-block-button__link {
	background-color: #ff6900;
}

p.has-luminous-vivid-amber-background-color,
.wp-block-button.has-luminous-vivid-amber-background-color .wp-block-button__link {
	background-color: #fcb900;
}

p.has-light-green-cyan-background-color,
.wp-block-button.has-light-green-cyan-background-color .wp-block-button__link {
	background-color: #7bdcb5;
}

p.has-vivid-green-cyan-background-color,
.wp-block-button.has-vivid-green-cyan-background-color .wp-block-button__link {
	background-color: #00d084;
}

p.has-pale-cyan-blue-background-color,
.wp-block-button.has-pale-cyan-blue-background-color .wp-block-button__link {
	background-color: #8ed1fc;
}

p.has-vivid-cyan-blue-background-color,
.wp-block-button.has-vivid-cyan-blue-background-color .wp-block-button__link {
	background-color: #0693e3;
}

p.has-very-light-gray-background-color,
.wp-block-button.has-very-light-gray-background-color .wp-block-button__link {
	background-color: #eeeeee;
}

p.has-cyan-bluish-gray-background-color,
.wp-block-button.has-cyan-bluish-gray-background-color .wp-block-button__link {
	background-color: #abb8c3;
}

p.has-very-dark-gray-background-color,
.wp-block-button.has-very-dark-gray-background-color .wp-block-button__link {
	background-color: #313131;
}

p.has-pale-pink-text-color,
.wp-block-button.has-pale-pink-text-color .wp-block-button__link {
	color: #f78da7;
}

p.has-vivid-red-text-color,
.wp-block-button.has-vivid-red-text-color .wp-block-button__link {
	color: #cf2e2e;
}

p.has-luminous-vivid-orange-text-color,
.wp-block-button.has-luminous-vivid-orange-text-color .wp-block-button__link {
	color: #ff6900;
}

p.has-luminous-vivid-amber-text-color,
.wp-block-button.has-luminous-vivid-amber-text-color .wp-block-button__link {
	color: #fcb900;
}

p.has-light-green-cyan-text-color,
.wp-block-button.has-light-green-cyan-text-color .wp-block-button__link {
	color: #7bdcb5;
}

p.has-vivid-green-cyan-text-color,
.wp-block-button.has-vivid-green-cyan-text-color .wp-block-button__link {
	color: #00d084;
}

p.has-pale-cyan-blue-text-color,
.wp-block-button.has-pale-cyan-blue-text-color .wp-block-button__link {
	color: #8ed1fc;
}

p.has-vivid-cyan-blue-text-color,
.wp-block-button.has-vivid-cyan-blue-text-color .wp-block-button__link {
	color: #0693e3;
}

p.has-very-light-gray-text-color,
.wp-block-button.has-very-light-gray-text-color .wp-block-button__link {
	color: #eeeeee;
}

p.has-cyan-bluish-gray-text-color,
.wp-block-button.has-cyan-bluish-gray-text-color .wp-block-button__link {
	color: #abb8c3;
}

p.has-very-dark-gray-text-color,
.wp-block-button.has-very-dark-gray-text-color .wp-block-button__link {
	color: #313131;
}
